@using SportsStore.WebUI.HtmlHelpers
@using SportsStore.WebUI.Models

@model ProductsListViewModel

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model.Products) {
    Html.RenderPartial("ProductSummary", p);
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo,i => Url.Action("List", 
        new { page = i, category = Model.CurrentCategory}))
</div>

